Repository KilianPAGEOT/DashFrame, pull requests merged in 2022-11, with the labels that each got.

#15 init front-end setup
  package-lock.json
  src/main/resources/DashFrame/.eslintrc.cjs
  src/main/resources/DashFrame/.gitignore
  src/main/resources/DashFrame/.prettierrc.json
  src/main/resources/DashFrame/README.md
  src/main/resources/DashFrame/cypress.config.ts
  src/main/resources/DashFrame/cypress/e2e/example.cy.ts
  src/main/resources/DashFrame/cypress/e2e/tsconfig.json
  src/main/resources/DashFrame/cypress/fixtures/example.json
  src/main/resources/DashFrame/cypress/support/commands.ts
  src/main/resources/DashFrame/cypress/support/e2e.ts
  src/main/resources/DashFrame/env.d.ts
  src/main/resources/DashFrame/index.html
  src/main/resources/DashFrame/package-lock.json
  src/main/resources/DashFrame/package.json
  src/main/resources/DashFrame/public/favicon.ico
  src/main/resources/DashFrame/src/App.vue
  src/main/resources/DashFrame/src/assets/base.css
  src/main/resources/DashFrame/src/assets/logo.svg
  src/main/resources/DashFrame/src/assets/main.css
  src/main/resources/DashFrame/src/components/HelloWorld.vue
  src/main/resources/DashFrame/src/components/TheWelcome.vue
  src/main/resources/DashFrame/src/components/WelcomeItem.vue
  src/main/resources/DashFrame/src/components/__tests__/HelloWorld.spec.ts
  src/main/resources/DashFrame/src/components/icons/IconCommunity.vue
  src/main/resources/DashFrame/src/components/icons/IconDocumentation.vue
  src/main/resources/DashFrame/src/components/icons/IconEcosystem.vue
  src/main/resources/DashFrame/src/components/icons/IconSupport.vue
  src/main/resources/DashFrame/src/components/icons/IconTooling.vue
  src/main/resources/DashFrame/src/main.ts
  src/main/resources/DashFrame/tsconfig.app.json
  src/main/resources/DashFrame/tsconfig.config.json
  src/main/resources/DashFrame/tsconfig.json
  src/main/resources/DashFrame/tsconfig.vitest.json
  src/main/resources/DashFrame/vite.config.ts
Labels: Project Structure, Front-end

#17 Create API Routes Definitions
  docs/dashframe_api.yml
Labels: Project Structure, REST API

#67 Create login page / Fix authentication routes and Open API documentation
  docs/openapi.yml
  front/public/GitHub_Logo.png
  front/public/Google_Logo.png
  front/src/App.vue
  front/src/api/apis/AuthenticationApi.ts
  front/src/api/apis/UsersApi.ts
  front/src/api/models/index.ts
  front/src/assets/modalStyle.css
  front/src/components/LoginPage.vue
  front/src/components/MainHeader.vue
  front/src/components/RegisterPage.vue
  src/main/java/com/github/dashframe/config/SecurityConfig.java
  src/main/java/com/github/dashframe/rest/AuthenticationController.java
Labels: Front-end

#70 Fix naming and placing of front assets
  front/public/assets/github_logo.png
  front/public/assets/google_logo.png
  front/src/components/LoginPage.vue
Labels: bug, Front-end

#72 Add token type differentiation
  front/src/App.vue
  front/src/components/AddWidgetModal.vue
  front/src/components/WidgetsDisplay.vue
  src/main/java/com/github/dashframe/rest/AuthenticationController.java
Labels: Back-End, Front-end
